<section class="about" id="about">
  <div class="container about__container">
    <div class="about__content">
      <h2 class="title2 about__title">ООО “Карго” –</h2>
      <p class="about__desc">
        многопрофильный логистический оператор, оказывающий полный комплекс услуг по перевалке грузов различных типов и
        номенклатуры
        в Новороссийском транспортном узле
      </p>
      <p class="about__text">
        Располагая современным контейнерным терминалом с развитой инфраструктурой и парком специализированной техники,
        мы гарантируем оперативную и качественную обработку грузопотоков наших клиентов.
      </p>
      <p class="about__text">
        Став нашим партнером, вы получите надежного оператора по логистике грузов и профессиональное экспедирование.
        Индивидуальный подход и ответственность - наши главные принципы работы.
      </p>
      <a href="#cta" class="btn about__btn about__btn">Cтать партнером</a>
    </div>
    <div class="about__since">
      <span class="about__year">с <span>2000</span> года</span>
      <span class="about__shop">на рынке</span>
    </div>
    <div class="about__bottom">
      <a href="#cta" class="btn about__btn about__btn about__btn--mob">Cтать партнером</a>
    </div>
  </div>
</section>