<section class="benefits">
  <div class="benefits__container container">
    <div class="benefits__item">
      <div class="benefits__icon">
        <img src="./img/benefits/01.png" alt="">
      </div>
      <span class="benefits__desc">
        Круглосуточная работа терминала без выходных
      </span>
    </div>
    <div class="benefits__item">
      <div class="benefits__icon">
        <img src="./img/benefits/02.png" alt="">
      </div>
      <span class="benefits__desc">
        Собственный парк спецтехники для перевалки любых грузов
      </span>
    </div>
    <div class="benefits__item">
      <div class="benefits__icon">
        <img src="./img/benefits/03.png" alt="">
      </div>
      <span class="benefits__desc">
        Прямое ж/д сообщение, возможность единовременного размещения до 45 вагонов
      </span>
    </div>
    <div class="benefits__item">
      <div class="benefits__icon">
        <img src="./img/benefits/04.png" alt="">
      </div>
      <span class="benefits__desc">
        Гарантированная сохранность грузов на всех этапах работ
      </span>
    </div>
  </div>
</section>