<section class="equip" id="equip">
  <div class="container">
    <h2 class="title2 equip__title">Техническое оснащение</h2>
    <div class="equip__warrent">
      <span>!</span>
      <p class="equip__text">
        Терминал ООО "Карго" обладает всей необходимой инфраструктурой и оборудованием для
        оперативной и качественной перевалки грузов.
      </p>
    </div>


    <div class="equip__container">
      <div class="equip__block">
        <div class="equip__top">
          <span class="equip__capture">Производственная площадка:</span>
          <ul class="equip__list">
            <li class="equip__item">
              <span>Общая площадь терминала</span> – 50 000 м2
            </li>
            <li class="equip__item">
              <span>Пандус – длина</span> 150 м
            </li>
            <li class="equip__item">
              <span>Крытые склады для хранения грузов –</span> 1500 м3
            </li>
            <li class="equip__item">
              <span>Открытые складские площадки –</span> 40 000 м3
            </li>
            <li class="equip__item">
              <span>Собственные железнодорожные пути протяженностью</span> 930 м
            </li>
          </ul>
        </div>

        <div class="equip__image">
          <picture>
            <source srcset="./img/equip/01-2x.webp" media="(min-width: 1900px)">
            <source srcset="./img/equip/01.webp">
            <img src="./img/equip/01.jpg" srcset="./img/equip/01-2x.jpg" alt="">
          </picture>
        </div>
      </div>

      <div class="equip__block equip__block--reverse">
        <div class="equip__top">
          <span class="equip__capture">Парк спецтехники:</span>
          <ul class="equip__list">
            <li class="equip__item">
              <span>Вилочный автопогрузчик грузоподъемностью </span> 1,5 тонны – 5 шт.
            </li>
            <li class="equip__item">
              <span>Вилочный автопогрузчик грузоподъемностью </span> 3 тонны – 1 шт.
            </li>
            <li class="equip__item">
              <span>Вилочный автопогрузчик грузоподъемностью </span> 15 тонн – 1 шт.
            </li>
            <li class="equip__item">
              <span>Вилочный автопогрузчик грузоподъемностью </span> 25 тонн – 1 шт.
            </li>
            <li class="equip__item">
              <span>Ричстакер </span> 45 тонн – 4 шт.
            </li>
            <li class="equip__item">
              <span>Перегружатель гидравлический </span> ATLAS
            </li>
            <li class="equip__item">
              <span>Весы железнодорожные – </span> 1 шт.
            </li>
            <li class="equip__item">
              <span>Весы платформенные для</span> 20/40 <span>контейнеров </span>– 2 шт.
            </li>
            <li class="equip__item">
              <span>Весы автомобильные - </span>1 шт.
            </li>
          </ul>
        </div>

        <div class="equip__image">
          <picture>
            <source srcset="./img/equip/02-2x.webp" media="(min-width: 1900px)">
            <source srcset="./img/equip/02.webp">
            <img src="./img/equip/02.jpg" srcset="./img/equip/02-2x.jpg 2x" alt="">
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>