<section class="gallery">
  <div class="container">
    <div class="gallery__header">
      <div></div>
      <h2 class="gallery__title title2">
        Фотогалерея работ
      </h2>
      <div class="gallery__control">
        <button class="btn-reset gallery__btn gallery__btn--prev">
          <svg width="51" height="52" viewBox="0 0 51 52" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g>
              <path
                d="M34.1286 46.683C34.7261 46.0735 35.0618 45.247 35.0618 44.3852C35.0618 43.5235 34.7261 42.697 34.1286 42.0875L18.3504 26L34.1286 9.91249C34.7092 9.29954 35.0305 8.47858 35.0232 7.62644C35.0159 6.7743 34.6807 5.95916 34.0897 5.35658C33.4987 4.754 32.6993 4.41221 31.8635 4.40481C31.0278 4.3974 30.2226 4.72498 29.6214 5.317L11.5897 23.7022C10.9922 24.3117 10.6565 25.1382 10.6565 26C10.6565 26.8618 10.9922 27.6883 11.5897 28.2977L29.6214 46.683C30.2192 47.2923 31.0298 47.6346 31.875 47.6346C32.7202 47.6346 33.5308 47.2923 34.1286 46.683Z" />
            </g>
          </svg>
        </button>
        <button class="btn-reset gallery__btn gallery__btn--next">
          <svg width="51" height="52" viewBox="0 0 51 52" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M16.8714 5.317C16.2739 5.92646 15.9382 6.75296 15.9382 7.61475C15.9382 8.47653 16.2739 9.30303 16.8714 9.9125L32.6496 26L16.8714 42.0875C16.2908 42.7005 15.9695 43.5214 15.9768 44.3735C15.9841 45.2257 16.3193 46.0408 16.9103 46.6434C17.5013 47.246 18.3007 47.5878 19.1365 47.5952C19.9722 47.6026 20.7774 47.275 21.3786 46.683L39.4102 28.2977C40.0078 27.6883 40.3435 26.8618 40.3435 26C40.3435 25.1382 40.0078 24.3117 39.4102 23.7022L21.3786 5.317C20.7808 4.70771 19.9702 4.36544 19.125 4.36544C18.2798 4.36544 17.4692 4.70771 16.8714 5.317Z" />
          </svg>
        </button>
      </div>
    </div>
    <div class="gallery__slider">
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide" data-fancybox="gallery" data-src="./img/gallery/01-2x.jpg">
            <picture>
              <source srcset="./img/gallery/01-2x.webp" media="(min-width: 1900px)">
              <source srcset="./img/gallery/01.webp">
              <img src="./img/gallery/01.jpg" srcset="./img/gallery/01-2x.jpg" alt="">
            </picture>
            <div class="gallery__capture">
              Название
            </div>
          </div>
          <div class="swiper-slide" data-fancybox="gallery" data-src="./img/gallery/02-2x.jpg">
            <picture>
              <source srcset="./img/gallery/02-2x.webp" media="(min-width: 1900px)">
              <source srcset="./img/gallery/02.webp">
              <img src="./img/gallery/02.jpg" srcset="./img/gallery/02-2x.jpg" alt="">
            </picture>
            <div class="gallery__capture">
              Название
            </div>
          </div>
          <div class="swiper-slide" data-fancybox="gallery" data-src="./img/gallery/03-2x.jpg">
            <picture>
              <source srcset="./img/gallery/03-2x.webp" media="(min-width: 1900px)">
              <source srcset="./img/gallery/03.webp">
              <img src="./img/gallery/03.jpg" srcset="./img/gallery/03-2x.jpg" alt="">
            </picture>
          </div>
          <div class="swiper-slide" data-fancybox="gallery" data-src="./img/gallery/04-2x.jpg">
            <picture>
              <source srcset="./img/gallery/04-2x.webp" media="(min-width: 1900px)">
              <source srcset="./img/gallery/04.webp">
              <img src="./img/gallery/04.jpg" srcset="./img/gallery/04-2x.jpg" alt="">
            </picture>
            <div class="gallery__capture">
              Название
            </div>
          </div>
          <div class="swiper-slide" data-fancybox="gallery" data-src="./img/gallery/01-2x.jpg">
            <picture>
              <source srcset="./img/gallery/01-2x.webp" media="(min-width: 1900px)">
              <source srcset="./img/gallery/01.webp">
              <img src="./img/gallery/01.jpg" srcset="./img/gallery/01-2x.jpg" alt="">
            </picture>
            <div class="gallery__capture">
              Название
            </div>
          </div>
          <div class="swiper-slide" data-fancybox="gallery" data-src="./img/gallery/02-2x.jpg">
            <picture>
              <source srcset="./img/gallery/02-2x.webp" media="(min-width: 1900px)">
              <source srcset="./img/gallery/02.webp">
              <img src="./img/gallery/02.jpg" srcset="./img/gallery/02-2x.jpg" alt="">
            </picture>
            <div class="gallery__capture">
              Название
            </div>
          </div>
          <div class="swiper-slide" data-fancybox="gallery" data-src="./img/gallery/03-2x.jpg">
            <picture>
              <source srcset="./img/gallery/03-2x.webp" media="(min-width: 1900px)">
              <source srcset="./img/gallery/03.webp">
              <img src="./img/gallery/03.jpg" srcset="./img/gallery/03-2x.jpg" alt="">
            </picture>
            <div class="gallery__capture">
              Название
            </div>
          </div>
          <div class="swiper-slide" data-fancybox="gallery" data-src="./img/gallery/04-2x.jpg">
            <picture>
              <source srcset="./img/gallery/04-2x.webp" media="(min-width: 1900px)">
              <source srcset="./img/gallery/04.webp">
              <img src="./img/gallery/04.jpg" srcset="./img/gallery/04-2x.jpg" alt="">
            </picture>
            <div class="gallery__capture">
              Название
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="gallery__control gallery__control--mob">
      <button class="btn-reset gallery__btn gallery__btn--prev">
        <svg width="51" height="52" viewBox="0 0 51 52" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g>
            <path
              d="M34.1286 46.683C34.7261 46.0735 35.0618 45.247 35.0618 44.3852C35.0618 43.5235 34.7261 42.697 34.1286 42.0875L18.3504 26L34.1286 9.91249C34.7092 9.29954 35.0305 8.47858 35.0232 7.62644C35.0159 6.7743 34.6807 5.95916 34.0897 5.35658C33.4987 4.754 32.6993 4.41221 31.8635 4.40481C31.0278 4.3974 30.2226 4.72498 29.6214 5.317L11.5897 23.7022C10.9922 24.3117 10.6565 25.1382 10.6565 26C10.6565 26.8618 10.9922 27.6883 11.5897 28.2977L29.6214 46.683C30.2192 47.2923 31.0298 47.6346 31.875 47.6346C32.7202 47.6346 33.5308 47.2923 34.1286 46.683Z" />
          </g>
        </svg>
      </button>
      <button class="btn-reset gallery__btn gallery__btn--next">
        <svg width="51" height="52" viewBox="0 0 51 52" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M16.8714 5.317C16.2739 5.92646 15.9382 6.75296 15.9382 7.61475C15.9382 8.47653 16.2739 9.30303 16.8714 9.9125L32.6496 26L16.8714 42.0875C16.2908 42.7005 15.9695 43.5214 15.9768 44.3735C15.9841 45.2257 16.3193 46.0408 16.9103 46.6434C17.5013 47.246 18.3007 47.5878 19.1365 47.5952C19.9722 47.6026 20.7774 47.275 21.3786 46.683L39.4102 28.2977C40.0078 27.6883 40.3435 26.8618 40.3435 26C40.3435 25.1382 40.0078 24.3117 39.4102 23.7022L21.3786 5.317C20.7808 4.70771 19.9702 4.36544 19.125 4.36544C18.2798 4.36544 17.4692 4.70771 16.8714 5.317Z" />
        </svg>
      </button>
    </div>
  </div>
</section>