<div class="menu">
  <div class="menu__body">
    <nav class="menu__nav nav">
      <ul class="list-reset nav__list">
        <li class="nav__item active">
          <a class="nav__link" href="#services">Услуги</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#equip">Оснащение</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#about">О компании</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#benefits">Преимущества</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#how-to-order">Как заказать</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#contacts">Контакты</a>
        </li>
      </ul>
    </nav>
    <a href="tel:+7 (8617) 60-73-24" class="header__tel menu__tel">+7 (8617) 60-73-24</a>
    <a href="#cta" class="btn btn--w-stroke">Обратный звонок</a>
  </div>
</div>