<section class="partners" id="partners">
  <div class="container">
    <h2 class="title2 partners__title">Наши партнеры</h2>

    <div class="partners__items">
      <div class="partners__item">
        <img src="./img/partners/module.png" alt="">
      </div>
      <div class="partners__item">
        <img src="./img/partners/simax.png" alt="">
      </div>
      <div class="partners__item">
        <img src="./img/partners/nmzhk.png" alt="">
      </div>
      <div class="partners__item">
        <img src="./img/partners/fesco.png" alt="">
      </div>
      <div class="partners__item">
        <img src="./img/partners/maersk.png" alt="">
      </div>

      <div class="partners__item">
        <img src="./img/partners/nlmk.png" alt="">
      </div>
      <div class="partners__item">
        <img src="./img/partners/eskm.png" alt="">
      </div>
      <div class="partners__item">
        <img src="./img/partners/silmar.png" alt="">
      </div>
      <div class="partners__item">
        <img src="./img/partners/europack.png" alt="">
      </div>
      <div class="partners__item">
        <img src="./img/partners/texmash.png" alt="">
      </div>
    </div>
  </div>
</section>