<section class="steps">
  <div class="container">
    <h2 class="title2 steps__title">
      Этапы работы
    </h2>

    <div class="steps__items">
      <div class="steps__item">
        <span class="steps__fig">01</span>
        <span class="steps__capture">Запрос ставки</span>
        <p class="steps__desc">
          Вы направляете нам заявку с указанием параметров груза (тип, вес, объем, порт отгрузки/выгрузки и т.д.).
          В течение 1 рабочего дня мы рассчитываем стоимость услуг и предоставляем развернутое коммерческое предложение
        </p>
        <a href="#cta" class="btn btn--stroke steps__btn">Запросить ставку</a>
      </div>
      <div class="steps__item">
        <span class="steps__fig">02</span>
        <span class="steps__capture">Подписание договора</span>
        <p class="steps__desc">
          После согласования ставки с вами оформляется договор на оказание транспортно-логистических услуг. Документ
          можно подписать в офисе или удаленно с помощью электронной подписи.
        </p>
      </div>
      <div class="steps__item">
        <span class="steps__fig">03</span>
        <span class="steps__capture">Прием груза</span>
        <p class="steps__desc">
          В согласованный период времени ваш груз принимается на терминале. Производится входной контроль, взвешивание,
          оформление необходимых сопроводительных документов.
        </p>
      </div>
      <div class="steps__item">
        <span class="steps__fig">04</span>
        <span class="steps__capture">Перевалка и складирование</span>
        <p class="steps__desc">
          Ваш груз перемещается в зону перевалки, где осуществляются необходимые операции - перегруз с одного вида
          транспорта на другой, сортировка, затаривание и т.п. При необходимости организуется краткосрочное или
          длительное хранение на специализированных складах терминала
        </p>
      </div>
      <div class="steps__item">
        <span class="steps__fig">05</span>
        <span class="steps__capture">Отправка в порт</span>
        <p class="steps__desc">
          После завершения всех операций ваш груз отправляется в порт для дальнейшей морской транспортировки. При
          необходимости берется проба груза для проведения досмотра
        </p>
      </div>
      <div class="steps__item">
        <span class="steps__fig">06</span>
        <span class="steps__capture">Выставление счета и документов</span>
        <p class="steps__desc">
          После отправки груза вам предоставляются все закрывающие финансовые и транспортные документы для проведения
          окончательных расчетов
        </p>
      </div>
    </div>

    <div class="steps__bottom">
      <a href="#cta" class="btn steps__btn">Заказать перевалку</a>
    </div>
  </div>
</section>